
.accordion--js .faq__item:not(.accordion__tab--open) {
  padding-bottom: 48px;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.accordion--js p,
.accordion--js .filter__content {
  display: none;
}

.accordion__tab--open p,
.accordion__tab--open .filter__content {
  display: block;
}

.accordion--js .accordion__button {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgba($basic-black, 0.1);
  }

  @media (max-width: $desktop-width) {
    padding-right: 52px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 25px;
  }
}

.accordion__icon--close {
  display: none;
}

.accordion__tab--open .accordion__icon--open {
  display: none;
}

.accordion__tab--open .accordion__icon--close {
  display: block;
}

.accordion__button svg {
  color: $basic-brown;
  pointer-events: none;
  fill: transparent;

  @media (max-width: $desktop-width) {
    transform: scale(1.5);
  }

  @media (max-width: $tablet-width) {
    transform: scale(1.3);
  }
}
