.catalog__container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 80px 98px 76px;
  display: grid;
  grid-template-areas: "filter items";
  grid-template-columns: 21% 1fr;
  gap: 56px;

  @media (max-width: $desktop-width) {
    padding: 50px 45px 78px;
    grid-template-areas: "filter" "items";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 52px;
  }

  @media (max-width: $tablet-width) {
    padding: 40px 15px 65px;
    gap: 37px;
  }
}

.catalog__products {
  grid-area: items;
  display: flex;
  flex-direction: column;

  & .product-card__image {
    min-height: 272px;

    @media (max-width: $desktop-width) {
      min-height: 208px;
    }

    @media (max-width: $tablet-width) {
      min-height: 136px;
    }
  }
}

.catalog__filter {
  grid-area: filter;
}

.catalog__wrapper {
  min-height: 456px;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.catalog__filter-button {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $basic-brown;
    padding: 26px;
    font-size: 16px;
    text-align: center;
    background-color: $basic-brown;
    color: $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding: 21px 20px 23px;
  }
}

.catalog__filter--nojs {
  @media (max-width: $desktop-width) {
    width: 80%;
    margin: 0 auto;

    & .catalog__filter-button {
      display: none;
    }

    & .filter__close {
      display: none;
    }
  }
}
.catalog__filter-wrapper {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.catalog__filter--js {
  & .catalog__filter-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: $basic-white;
  }
}

.page--js {
  @media (max-width: $desktop-width) {
    & .catalog__filter-wrapper {
      display: block;
    }

    & .catalog__form {
      max-width: 423px;
      margin: 27px auto 89px 0;
      box-shadow: 0px 5px 32px rgba(219, 213, 208, 0.24);
    }

  }

  @media (max-width: $tablet-width) {
    & .catalog__form {
      width: calc(100% - 46px);
      margin: 65px auto 60px;

    }
  }

}
