.filter {
  width: 100%;

}
.filter__inner {
  margin-bottom: 35px;
  border: solid $basic-brown;
  border-width: 1px 0 0;

  @media (max-width: $desktop-width) {
    position: relative;
    border: 0;
  }
}

.filter__block {
  position: relative;
  padding: 21px 19px 13px 24px;
  border: solid $basic-brown;
  border-width: 0 1px 1px;

  & h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    font-size: 16px;
  }

  @media (max-width: $desktop-width) {
    padding: 34px 21px 13px 20px;
    border-width: 0 0 1px 0;

    & h3 {
      font-size: 18px;
      line-height: 23px;
    }
  }
}

.filter__content {
  padding: 8px 10px 2px;

  @media (max-width: $desktop-width) {
    padding: 12px 10px 7px;
  }
}

.filter__head-button {
  display: none;
  padding-top: 25px;
  padding-right: 19px;
}

.filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $basic-white;
  background-color: $basic-brown;
  border: 1px solid $basic-brown;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $basic-white;
    background-color: $basic-black;
  }

  @media (max-width: $desktop-width)  {
    width: calc(100% - 80px);
    margin: 0 40px;
  }

  @media (max-width: $tablet-width)  {
    width: calc(100% - 40px);
    margin: 0 31px;
  }
}

.filter__button--white {
  margin-top: 25px;
  color: $basic-black;
  background-color: $basic-white;

  &:active {
    color: $basic-white;
    background-color: $basic-brown;
  }

  @media (max-width: $desktop-width)  {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 21px;
    margin-bottom: 30px;
  }
}

.filter__close {
  display: none;

  @media (max-width: $desktop-width)  {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    height: 32px;
    color: $basic-white;
    background-color: $basic-black;
    border: none;
    border-radius: 50%;
    transform: translate(50%, -50%);

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      color: $basic-black;
      background-color: $basic-white;
    }

    @media (max-width: $tablet-width) {
      right: 6px;
      top: 11px;
    }
  }
}

.filter__item {
  margin-bottom: 10px;

  @media (max-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.filter__checkbox-label {
  font-family: $poppins;
  font-size: 14px;
  line-height: 18px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 21px;
    padding-left: 31px;
  }
}

.filter__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid $basic-brown;

  @media (max-width: $desktop-width) {
    width: 18px;
    height: 18px;
  }
}


:checked + .filter__checkbox-label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  background-color: $basic-brown;
  border: 1px solid $basic-brown;

  @media (max-width: $desktop-width) {
    width: 18px;
    height: 18px;
  }
}
