.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  outline: 1px solid blue;
  max-width: $desktop;
  min-height: 154px;
  width: 100%;
  padding: 41px 96px 0;
  margin: 0 auto 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: 36%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $border-grey;
  }

  @media (max-width: $desktop-width) {
    min-height: 106px;
    padding: 52px 44px 0 32px;

    &::after {
      content: none;
    }
  }
}

.header__top {
  display: flex;
  flex-grow: 1;

  @media (max-width: $desktop-width) {
    padding-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 10px;
  }
}
.header__logo {
  outline: 1px solid blue;
  margin: -13px auto 50px;

  @media (max-width: $desktop-width) {
    margin: -22px auto 9px;
  }

  @media (max-width: $tablet-width) {
    margin-top: -19px;
    & svg {
      width: 52px;
      height: 52px;
    }
  }
}
.header__search {
  position: relative;
  outline: 1px solid blue;
  width: 17.5%;
  order: -1;

  & label {
    position: absolute;
    top: 0;
    left: 0;
  }

  & input {
    padding-left: 32px;
    border: 0;
    font-family: inherit;
    font-size: 14px;
    color: $placeholder-grey;
  }

  @media (max-width: $desktop-width) {
    display: none;
    width: 100%;
    order: 0;
    margin-bottom: 42px;

    & input {
      width: 100%;
      padding: 12px 12px 12px 36px;
      background-color: $field-white;
      border-radius: 21px;
    }

    & input::placeholder {
      color: transparent;
    }

    & label {
      top: 13px;
      left: 16px;

      & svg {
        color: $basic-white;
      }
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }
}
.header__nav {
  outline: 1px solid blue;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 42%;
  transform: translateX(-50%);

  @media (max-width: $desktop-width) {
    display: none;
    position: relative;
    bottom: unset;
    left: unset;
    transform: unset;
    width: 100%;
    margin-bottom: 23px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}
.header__nav-list {

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}
.header__sub-nav {
}
.header__user-menu {
  outline: 1px solid blue;
  width: 21.5%;

  @media (max-width: $desktop-width) {
    width: 5.5%;
  }
  @media (max-width: $tablet-width) {
    width: 15%;
  }
}
.header__burger-btn {
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: -1;
  }

  &:focus,
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.header__login {
  display: none;
  font-size: 18px;
  line-height: 23px;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.header--js,
.header--nojs {
  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 53px 43px 77px 44px;
    margin-bottom: 0;
    background-color: $basic-brown;

    & .header__top {
      flex-grow: 0;
    }

    & .header__burger-btn {
      margin-left: -10px;
      & svg {
        color: $basic-white;
      }
    }

    & .header__logo {
      & svg {
        color: $basic-white;
      }
    }

    & .header__search {
      display: flex;

      & input {
        color: $basic-white;
      }
    }

    & .header__nav {
      display: block;
    }

    & .user-menu__icon {
      color: $basic-white;
      fill: transparent;
    }

    & .sub-list {
      display: flex;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 38px 15px 50px;
  }
}

.header--nojs {
  @media (max-width: $desktop-width) {
    position: relative;
    min-height: 778px;
  }

  @media (max-width: $tablet-width) {
    min-height: 684px;
  }
}

.header--js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}
