.main__blog,
.main__faq,
.main__gallery {
  max-width: 1366px;
  margin: 0 auto;
  min-width: $mobile-width;
}

.main__blog {
  padding: 116px 96px 0;

  @media (max-width: $desktop-width) {
    padding: 68px 45px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 34px 15px 0;
  }
}

.main__faq {
  padding: 118px 96px 0;

  @media (max-width: $desktop-width) {
    padding: 68px 45px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 53px 15px 0;
  }
}

.main__gallery {
  padding: 101px 96px 76px;

  @media (max-width: $desktop-width) {
    padding: 68px 45px 80px;
  }

  @media (max-width: $tablet-width) {
    padding: 53px 15px 45px;
  }
}

