.new-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  width: calc(100vw - 17px);

  @media (max-width: $desktop-width) {
    padding: 10px 45px 55px;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 15px 34px;
  }

  & h2 {
    @include title;
    margin: 0 50px 28px;
  }
}
.new-items__link {
  margin: 35px 50px 28px;
}

.new-items__container {
  position: relative;
  // max-width: 100%;
  // margin: 0 0 52px;
  overflow: hidden;

  @media (max-width: $desktop-width) {
    margin: 0 0 42px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 33px;
  }
}
