.new-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  overflow: hidden;

  & h2 {
    @include title;
    margin: 0 50px 28px;
  }
}
.new-items__link {
  margin: 35px 50px 28px;
}

.new-items__container {
  width: 100%;
  max-width: 100%;
  margin: 0 0 52px;

  @media (max-width: $desktop-width) {
    margin: 0 0 42px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 33px;
  }
}
