.paginator {
  display: flex;
  justify-content: flex-start;
  padding-top: 59px;

  @media (max-width: $desktop-width) {
    padding-top: 60px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 26px;
  }
}

.paginator__list {
  display: flex;
  justify-content: center;
  width: 25%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.paginator__prev {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.paginator__item {
  margin-right: 13px;
  color: $placeholder-grey;

  @media (max-width: $tablet-width) {
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & .current {
    color: $basic-black;
  }
}

.paginator__next {
  @media (max-width: $desktop-width) {
    margin-left: 19px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
