.post {
  display: grid;
  width: 100%;
  background-color: $bg-beige;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-width) {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
  }
}

.post__img {
  position: relative;
  order: -1;
  width: 100%;
}

.post__img--second {
  order: 1;

  @media (max-width: $tablet-width) {
    order: -1;
  }
}

.post--big {
  grid-row-gap: 30px;
  grid-template-rows: 1fr 1fr;

  & .post__content {
    position: relative;
    z-index: 1;

    grid-column: 2/3;
    grid-row: 2/3;
  }

  & .post__img {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  @media (max-width: $desktop-width) {
    grid-row-gap: unset;
    grid-template-rows: unset;

    & .post__img {
      grid-column: unset;
      grid-row: unset;
    }

    & .post__content {
      grid-column: unset;
      grid-row: unset;
      padding-top: 86px;
      padding-bottom: 89px;
    }

    & .post__img img {
      object-position: top center;
    }
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: 1fr 1fr;

    & .post__content {
      padding-top: 59px;
      padding-bottom: 74px;
    }
  }
}

.post__img picture,
.post__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center center;

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.post__content {
  padding: 65px 60px 70px 60px;
  text-align: center;
  background-color: $bg-beige;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px 85px 70px;
  }

  @media (max-width: $tablet-width) {
    padding: 47px 60px 47px;
  }
}

.post__content time {
  display: block;
  margin: 0;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $placeholder-grey;
}

.post__content h3 {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  font-family: $cormorant;
  color: $basic-black;
}
