.user-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-menu__modal-login {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.user-menu__cart {
  padding-left: 31px;

  & p {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    width: 18px;
    height: 16px;
    padding: 0;

    & p {
      display: none;
    }
  }
}

.user-menu__icon {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }
}
