@mixin ul-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-family: $cormorant;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}
